/* Gemaakt door Lex */

body{
    
    background-image: url("http://www.restaurantoudleusden.nl/christmas/01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Calibri", verdana, candara, Andale Mono , Helvetica, sans-serif;
}

.background{
    background-color:#ffffffa6;
}
.nav{
    margin: 0 auto;
    background-color: #ee6e73; 
    border-bottom: 2px solid lightcoral;
}
.navul-links{
    list-style-type: none;
    overflow: hidden;
    padding-bottom: 0px;
    margin: 0;
    font-family: cursive;
}
.lileft{
    float:left;
}
.coraltext{
    color: lightcoral;  
}
.coral{
    background-color: coral;
}
.lightcoral{
    background-color: lightcoral;
}
.tie{
    color: lightcoral;
}
.spatie{
    padding-left: 15px;
}
.menulinks{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: -15px;
}
.card-image:hover{
    transform: scale(1.1);
}
.card-action{
    color: lightcoral;
    
}
.header-image-sub{
    min-width: 100%;
    max-width: 100%;
    height: 250px;
}
.card-action:hover{
    color: coral;
}
.main{
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.15);
    margin: 0 auto;
    
}
.header-image{
    min-width: 100%;
    max-width: 100%;
    height: 350px;
}
#slideshow {
    margin: 80px auto;
    position: relative;
    width: 430px;
    height: 430px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
.map{
    padding: 20px 0px 20px 0px;
}
.LoginForm{
    margin-top: 200px;
}
.center{
    margin: 0 auto;
}
.message{
    background-color:lightcoral;
    text-align: center;
    margin: 0;
}
.reserveren{
    margin: 0 auto;
    padding-bottom: 10px;
}
.reserveren .btn{
    background-color:coral;
}
.reserveren .btn:hover{
    background-color:lightcoral;
}
.adminNieuws{
    width: 65%;
    margin: 0 auto;
    padding-bottom: 30px;   
}
.adminMessage{
    width: 65%;
    margin: 0 auto;   
    padding-bottom: 30px;
}
.adminReservering{
    width: 65%;
    margin: 0 auto;    
    padding-bottom: 30px;
}
.reserverimg{
    margin-top: 20%;
    margin-left: 7.5%;
}
.login{
  
    background-color:#f08080a1;
    padding-bottom: 20px;
    border-radius: 4%;
    width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    
}
.login form{
    width: 85%;
    margin: 0 auto;
}
.main-admin{
    width: 65%;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.15);
    margin: 0 auto;    
}
.recrecensie{
    margin-top: 40px;
}
.recensie{
    font-size: 18px;
    font-family: inherit;
    font-style: italic;
}
.recdate{
    text-align:right;
    padding: 0;
    color:grey;
}

figure.effect-romeo {
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

figure.effect-romeo img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,300px);
	transform: translate3d(0,0,100px);
}

figure.effect-romeo:hover img {
    width: 480px;
    height: 360px;
	opacity: 0.6;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-romeo figcaption::before,
figure.effect-romeo figcaption::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 1px;
	background: #fff;
	content: '';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

figure.effect-romeo:hover figcaption::before {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
	transform: translate3d(-50%,-50%,0) rotate(45deg);
}

figure.effect-romeo:hover figcaption::after {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
	transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

figure.effect-romeo h2,
figure.effect-romeo p {
	position: absolute;
    color:white;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-romeo h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
	transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
}

figure.effect-romeo p {
	padding: 0.25em 2em;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);
	transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

figure.effect-romeo:hover h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
}

figure.effect-romeo:hover p {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}
